<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>
        Иформация о людях
    </h2>

    {% for person in people %}

        <div>

            <h5>
                ФИО - {{ person.name }}
            </h5>

            <p>
                Возраст - {{ person.age }}
            </p>

            <p>
                Телефон - {{ person.phone }}
            </p>

        </div>

    {% endfor %}

</body>
</html>